<ion-view>

    <div class="bar bar-header bar-light">
        <h1 class="title">Startup :: Cordova</h1>
    </div>
       
    <ion-content class="has-header">
        
        <ul class="list">
        	<li class="list-item item" ng-click="go('login')">Login</li>
        	<li class="list-item item" ng-click="go('register')">Register</li>
        	<li class="list-item item" ng-click="go('userInfo')">User info</li>
        	<li class="list-item item" ng-click="go('restrictedArea')">Restricted Area</li>
    	</ul>
        
    </ion-content>
    
</ion-view>